<div class="row">
  <div class="col-xs-6">
    <h4>Категории</h4>

    <table class="table">
      <tbody>
      {{#each model.category  as |item| }}
        <tr>
          <td>{{item.name}}</td>
          <td> {{item.parentCategory.name}}</td>
          <td>{{item.rashCount}} </td>
          <td>&Sigma; {{item.subcatRashCount}}</td>
          <td><button class="btn btn-default btn-xs" {{action 'remove' this}}>Delete</button></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div> 
  <div class="col-xs-4">
    <h4>Добавить категорию:</h4>
    {{input class="form-control" type="text" value=newCategoryName placeholder="Название категории"}}
    <div class="row">
      <div class="col-xs-8">
        {{ view "select"  class="selectpicker form-control" prompt="Выберите родительскую категорию"
        content=model.category selection=selectedCategory optionValuePath='content.id' optionLabelPath='content.name'}}
      </div>
      <div class="col-xs-4">
        <button class="add_rec btn btn-default" {{action 'add' this}}>Добавить</button>
      </div>
    </div>
  </div>
</div>

